@import "tailwindcss";
html {
  font-size: 62.5%;
}

@media (max-width: 768px) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}
.btn {
  @apply bg-sky-800   px-9 rounded-sm py-3 text-white cursor-pointer;
}
.navbarlink {
  @apply hover:border-b-black hover:border-b-2 hover:pb-2;
}
.navbarlink.active {
  color: #0e7490; /* example: Tailwind cyan-600 */
  font-weight: bold;
  text-decoration: underline;
}
body {
  background-color: azure;
  overflow-x: hidden;
}
